<div class="game-container">

  <div class="scoreboards">
    <div class="bowling-scoreboard">
      <h2 class="scoreboard-title">Bowling Scoreboard</h2>

      @for (player of playerService.players(); track player; let i = $index) {
        <mat-card class="scoreboard-card">
          <h3>{{ player.name }}</h3>
          <app-scoreboard [player]></app-scoreboard>
        </mat-card>
      }
    </div>
  </div>

  <mat-card class="admin-menu">
    <div class="player-controls">
      <button mat-raised-button color="accent" (click)="openDialog()">Player menu</button>
    </div>
  </mat-card>

</div>
