<div class="scoreboard">
  @for (frame of frames(); track frame; let frameIndex = $index) {
  <div class="frame">
    <div class="frame-container">
      <div class="rolls">

        <!-- Normal Frame -->
        @for (roll of frame; track roll; let rollIndex = $index) {
        <span class="roll">
          {{ displayRoll(frame, roll, rollIndex, frameIndex) }}
        </span>
        }

      </div>
      <div class="cumulative-score">
        {{ cumulativeScores()[frameIndex] || '' }}
      </div>
    </div>
  </div>
  }
</div>
<mat-card>
  <mat-card-title>Throw Ball</mat-card-title>
  <mat-card-content>
    <button mat-raised-button color="accent" (click)="throwBall()">
      Throw
    </button>
  </mat-card-content>
  
</mat-card>
