.game-controls-container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  .player-inputs {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin: 10px 0; 

    .player-input {
      mat-form-field {
        width: 200px; 
      }
    }
  }

  .roll-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin: 10px 0;

    button {
      width: 60px; 
    }
  }
}